html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

button {
    cursor: pointer;
    text-align: center;
    background-color: black;
    border: none;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    transition: .1s;
    width: 100%;
}

button:hover {
    background-color: #D3D3D3;
    color: #000;
}

.values input {
    border: #008000 solid 1px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 6px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.values input:focus {
    border-color: #003a00;
    outline: none;
}

.calculate {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #9FD29F;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid #008000;
    gap: 5px;
}

.calculate h1 {
    text-align: center;
}

.values {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
}

.calculate .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 90%;
    height: 100px;
}

.buttons-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
}

.buttons-container > * {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
}