.button, .text {
    cursor: pointer;
    text-align: center;
}

.button {
    background-color: hsla(237deg 74% 33% / 61%);
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
}

.button:hover {
    background-color: black;
}

.text {
    border-color: hsla(237deg 74% 33% / 61%);
    color: black;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 15px;
}